preamble "// my cool comment"

class "Foo" {
  field "name" type="String"
  field "age" type="int"

  extra_dart "void printMe() => print((name, age));"
}

union "Animal" {
  class "Dog" {
    field "breed" type="String"
  }

  class "Cat" {
    field "color" type="String"
  }
}
