preamble "// my cool comment"

class "Foo" {
  field "name" type="String";
  field "age" type="int";

  extra-dart r#"
    void printMe() => print((name, age));
  "#;
}

union "Animal" {
  class "Dog" {
    field "breed" type="String" {
      defaults-to "hello";
    }
  }

  class "Cat" {
    field "color" type="String" {
      defaults-to null;
      docs "some docs";
    }
  }
}
