preamble "// my cool comment"

class "Foo" {
  field "name" type="String";
  field "age" type="int";

  extra-dart r#"
    void printMe() => print((name, age));
  "#;
}

union "Animal" {
  docs r"
    Some docs
  ";

  class "Dog" {
    field "breed" type="String" {
      always-required;
      defaults-to "hello";
      docs r"
        Some more docs
      ";
    }


  }

  class "Cat" {
    field "color" type="String"
  }
}
