preamble "// some comment"

class "Foo" {
  field "name" type="String";
  field "age" type="int";
  field "bar" type="Bar";
}

class "Bar" {
  field "x" type="String";
  field "y" type="String";
}

union "Animal" {
  class "Dog" {
    field "name" type="String"
  }

  class "Cat" {
    field "age" type="int"
  }
}
