preamble "// some comment"

class "Foo" {
  field "name" type="String" { defaults-to "hello"; }
  field "age" type="int" { defaults-to 123; always-required; }
  field "bar" type="Bar";
}

class "Bar" {
  field "x" type="String";
  field "y" type="String";
}

union "Animal" {
  class "Dog" {
    field "name" type="String"
  }

  class "Cat" {
    field "age" type="int"
  }
}
